@font-face {
  font-family: "Tahoma Bold";
  src: url("font/Tahoma Bold.ttf") format("truetype"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #e2e2e2;
  width: 100vw; }
  body h2 {
    padding: 30px;
    font-size: 32px;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
    text-align: center; }
  body header {
    display: block;
    position: relative;
    width: 100vw;
    height: 860px;
    transition: height 300ms ease-in-out; }
    body header .content {
      -webkit-justify-content: center;
      -webkit-align-items: center;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute; }
      body header .content .title {
        height: 50px;
        width: 650px;
        margin: auto;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
        -moz-flex-flow: column;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -moz-justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
        -moz-align-items: center; }
        body header .content .title a {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          color: #fff;
          font-size: 25px;
          transition: all 300ms ease-in-out;
          border: 2px solid #fff;
          padding: 7px; }
        body header .content .title a:hover {
          padding-bottom: 7px;
          background-color: #f2f2f2;
          color: #000; }
        body header .content .title h1 {
          text-align: center;
          font-weight: bold;
          font-family: "Bitter", serif;
          font-size: 55px;
          color: #fff;
          margin: 20px; }
        body header .content .title img {
          margin: 20px;
          width: 200px;
          height: 200px;
          border: 5px solid #fff;
          border-radius: 120px; }
  body header:after {
    content: " ";
    background: url("../img/laptop-and-coffee.jpg") no-repeat center;
    background-size: 100% 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -2;
    opacity: 0.8; }
  body header:before {
    content: " ";
    background-color: rgba(26, 26, 26, 0.8);
    background-size: 100vw 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1; }
  @media screen and (max-width: 1280px) {
    body header {
      height: 600px; } }
  @media screen and (max-width: 800px) {
    body header {
      height: 450px; }
      body header .content .title a {
        font-size: 18px; }
      body header .content .title p {
        font-size: 35px; }
      body header .content .title img {
        width: 150px;
        height: 150px;
        border: 3px solid #fff; } }
  @media screen and (max-width: 550px) {
    body header {
      height: 300px; }
      body header .content .title a {
        font-size: 14px; }
      body header .content .title p {
        font-size: 25px; }
      body header .content .title img {
        width: 100px;
        height: 100px;
        border: 3px solid #fff; } }
  body section {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: space-around;
    align-items: space-around;
    -moz-align-items: space-around;
    -webkit-flex-flow: column;
    flex-flow: column;
    -moz-flex-flow: column;
    position: relative; }
  body .section-1 {
    padding: 100px 50px;
    background-color: #e2e2e2;
    box-shadow: 5px 5px #e2e2e2; }
    body .section-1 .text {
      width: 75%;
      margin: auto; }
      body .section-1 .text table {
        width: 100%; }
        body .section-1 .text table tr {
          width: 100%; }
          body .section-1 .text table tr td {
            width: 50%;
            padding: 20px;
            vertical-align: top; }
            body .section-1 .text table tr td h2 {
              font-size: 20px;
              font-family: "Bitter", serif;
              margin-bottom: 5px;
              margin-top: 5px; }
            body .section-1 .text table tr td .para {
              padding: 10px 50px 10px 20px; }
              body .section-1 .text table tr td .para p {
                text-align: justify;
                padding: 7px 0;
                font-style: italic;
                font-size: 18px;
                color: rgba(26, 26, 26, 0.75); }
          body .section-1 .text table tr td:first-child {
            border-right: 3px dotted; }
          body .section-1 .text table tr td:last-child {
            position: relative;
            padding-right: 40px; }
            body .section-1 .text table tr td:last-child table {
              width: 65%;
              margin: auto; }
              body .section-1 .text table tr td:last-child table tr td {
                padding: 10px;
                border: none;
                vertical-align: top;
                color: rgba(26, 26, 26, 0.75); }
                body .section-1 .text table tr td:last-child table tr td a {
                  text-decoration: none;
                  color: rgba(26, 26, 26, 0.75); }
              body .section-1 .text table tr td:last-child table tr td:first-child {
                text-align: right;
                font-weight: bold;
                color: #000 !important; }
            body .section-1 .text table tr td:last-child .links {
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-around;
              justify-content: space-around;
              -moz-justify-content: space-around;
              -webkit-flex-flow: column;
              flex-flow: column;
              -moz-flex-flow: column;
              height: 250px;
              position: absolute;
              right: 0; }
              body .section-1 .text table tr td:last-child .links a {
                -webkit-justify-content: center;
                -webkit-align-items: center;
                display: -webkit-flex;
                justify-content: center;
                align-items: center;
                display: flex;
                width: 38px;
                height: 38px;
                text-decoration: none;
                color: #333;
                font-size: 1.6em;
                transition: all 300ms ease-in-out; }
              body .section-1 .text table tr td:last-child .links a:hover {
                color: #666;
                font-size: 1.8em; }
  @media screen and (max-width: 1280px) {
    body .section-1 .text {
      width: 100%; }
      body .section-1 .text .profil {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: wrap;
        flex-flow: wrap;
        -moz-flex-flow: wrap; }
        body .section-1 .text .profil h2 {
          width: 100%;
          font-size: 20px;
          font-family: "Bitter", serif;
          margin: 15px 10px; }
        body .section-1 .text .profil .para {
          padding: 10px 70px 10px 20px; }
          body .section-1 .text .profil .para p {
            text-align: justify;
            padding: 7px 0;
            font-style: italic;
            font-size: 18px;
            color: rgba(26, 26, 26, 0.75); }
      body .section-1 .text .contact {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: wrap;
        flex-flow: wrap;
        -moz-flex-flow: wrap; }
        body .section-1 .text .contact h2 {
          width: 100%;
          font-size: 20px;
          font-family: "Bitter", serif;
          margin: 15px 10px; }
        body .section-1 .text .contact table {
          width: 80%; }
          body .section-1 .text .contact table tr td {
            padding: 10px;
            border: none;
            vertical-align: top;
            color: rgba(26, 26, 26, 0.75); }
            body .section-1 .text .contact table tr td a {
              text-decoration: none;
              color: rgba(26, 26, 26, 0.75); }
          body .section-1 .text .contact table tr td:first-child {
            text-align: right;
            font-weight: bold;
            color: #000 !important; }
        body .section-1 .text .contact .links {
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-around;
          justify-content: space-around;
          -moz-justify-content: space-around;
          -webkit-flex-flow: column;
          flex-flow: column;
          -moz-flex-flow: column;
          height: 250px;
          width: 20%; }
          body .section-1 .text .contact .links a {
            -webkit-justify-content: center;
            -webkit-align-items: center;
            display: -webkit-flex;
            justify-content: center;
            align-items: center;
            display: flex;
            width: 38px;
            height: 38px;
            text-decoration: none;
            color: #333;
            font-size: 1.6em;
            transition: all 300ms ease-in-out; }
          body .section-1 .text .contact .links a:hover {
            color: #666;
            font-size: 1.8em; } }
  @media screen and (max-width: 800px) {
    body .section-1 {
      padding: 20px; }
      body .section-1 .text table tr td h2 {
        font-size: 16px; }
      body .section-1 .text .profil h2 {
        font-size: 16px; }
      body .section-1 .text .contact table tr td {
        font-size: 12px; }
      body .section-1 .text .contact .links {
        -webkit-flex-flow: wrap;
        flex-flow: wrap;
        -moz-flex-flow: wrap;
        width: 100%;
        height: 30px; }
        body .section-1 .text .contact .links a {
          font-size: 1.2em; }
        body .section-1 .text .contact .links a:hover {
          font-size: 1.4em; } }
  body .section-2 {
    width: 100vw;
    padding: 50px;
    background-color: #f5f5f5; }
    body .section-2 .cards {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -moz-justify-content: space-around;
      -webkit-align-items: center;
      align-items: center;
      -moz-align-items: center;
      -webkit-flex-flow: wrap;
      flex-flow: wrap;
      -moz-flex-flow: wrap;
      width: 75%;
      margin: auto;
      padding-bottom: 20px;
      padding-top: 20px; }
      body .section-2 .cards .card {
        display: block;
        position: relative;
        width: 30%;
        min-width: 350px;
        cursor: pointer;
        margin: 15px;
        box-shadow: 0px 0px 5px rgba(200, 200, 200, 0.7); }
        body .section-2 .cards .card .content {
          -webkit-justify-content: center;
          -webkit-align-items: center;
          display: -webkit-flex;
          justify-content: center;
          align-items: center;
          display: flex;
          position: absolute;
          width: 100%;
          height: 100%;
          transition: all 300ms ease-in-out; }
          body .section-2 .cards .card .content .text .none-hover {
            height: auto;
            display: block;
            text-align: center;
            font-size: 18px;
            font-weight: none; }
            body .section-2 .cards .card .content .text .none-hover p {
              font-weight: bold;
              font-size: 22px; }
          body .section-2 .cards .card .content .text .hover {
            height: 0;
            display: none;
            margin: 30px;
            text-align: justify;
            font-size: 18px; }
            body .section-2 .cards .card .content .text .hover h2 {
              font-size: 20px;
              margin-bottom: 5px;
              margin-top: 5px; }
            body .section-2 .cards .card .content .text .hover .para {
              margin-left: 20px;
              font-weight: none;
              font-size: 16px; }
        body .section-2 .cards .card .content:hover .text .none-hover {
          height: 0;
          display: none; }
        body .section-2 .cards .card .content:hover .text .hover {
          height: auto;
          display: block; }
      body .section-2 .cards .card:after {
        content: "";
        display: block;
        padding-bottom: 100%; }
      body .section-2 .cards .card-1:after {
        background: url("../img/ibc-dialog.jpg") no-repeat center; }
      body .section-2 .cards .card-2:after {
        background: url("../img/cfai.jpg") no-repeat center; }
      body .section-2 .cards .card-3:after {
        background: url("../img/supplay.jpg") no-repeat center; }
  @media screen and (max-width: 1700px) {
    body .section-2 .cards .card .content .text .hover {
      font-size: 16px; }
      body .section-2 .cards .card .content .text .hover h2 {
        font-size: 18px; }
      body .section-2 .cards .card .content .text .hover .para {
        font-size: 14px; } }
  @media screen and (max-width: 550px) {
    body .section-2 .cards .card .content .text .hover {
      height: auto;
      display: block; }
    body .section-2 .cards .card .content .text .none-hover {
      height: 0;
      display: none; } }
  body .section-3 {
    width: 100vw;
    padding: 50px;
    box-shadow: 2px 2px #e2e2e2; }
    body .section-3 .block-0 {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -moz-justify-content: space-around;
      -webkit-flex-flow: wrap;
      flex-flow: wrap;
      -moz-flex-flow: wrap;
      width: 60vw;
      min-width: 300px;
      margin: auto; }
      body .section-3 .block-0 .block-1 {
        display: -webkit-flex;
        display: flex; }
        body .section-3 .block-0 .block-1 .card {
          display: block;
          position: relative;
          width: 300px;
          cursor: pointer;
          margin: 0 0 15px 15px;
          box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.7); }
          body .section-3 .block-0 .block-1 .card .content {
            -webkit-justify-content: center;
            -webkit-align-items: center;
            display: -webkit-flex;
            justify-content: center;
            align-items: center;
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            color: #f5f5f5; }
            body .section-3 .block-0 .block-1 .card .content .none-hover {
              display: block;
              opacity: 1;
              height: auto;
              font-family: "Bitter", serif;
              font-size: 20px;
              font-weight: bold;
              text-transform: uppercase; }
            body .section-3 .block-0 .block-1 .card .content .hover {
              display: none;
              height: 0;
              margin: 30px;
              font-family: serif;
              text-align: justify;
              font-size: 18px; }
              body .section-3 .block-0 .block-1 .card .content .hover h2 {
                font-size: 20px;
                margin-bottom: 5px;
                margin-top: 5px; }
              body .section-3 .block-0 .block-1 .card .content .hover .para {
                margin-left: 20px;
                font-weight: none;
                font-size: 16px; }
            body .section-3 .block-0 .block-1 .card .content .more {
              font-size: 3.5em;
              transition: all 250ms ease-in-out; }
        body .section-3 .block-0 .block-1 .card:after {
          content: "";
          display: block;
          padding-bottom: 80%; }
        body .section-3 .block-0 .block-1 .card:hover,
        body .section-3 .block-0 .block-1 .card:focus {
          box-shadow: 0px 0px 5px rgba(100, 100, 130, 0.7); }
          body .section-3 .block-0 .block-1 .card:hover .content .none-hover,
          body .section-3 .block-0 .block-1 .card:focus .content .none-hover {
            opacity: 0;
            height: 0;
            display: none; }
          body .section-3 .block-0 .block-1 .card:hover .content .hover,
          body .section-3 .block-0 .block-1 .card:focus .content .hover {
            opacity: 1;
            display: block;
            height: auto; }
          body .section-3 .block-0 .block-1 .card:hover .content .more,
          body .section-3 .block-0 .block-1 .card:focus .content .more {
            font-size: 3.6em; }
        body .section-3 .block-0 .block-1 .card.deg-1 {
          background-color: #4C4C4C;
          transition: all 0.7s ease-in-out; }
        body .section-3 .block-0 .block-1 .card.deg-1:hover {
          background-color: #8496B0; }
        body .section-3 .block-0 .block-1 .card.deg-2 {
          background-color: #555555;
          transition: all 0.7s ease-in-out; }
        body .section-3 .block-0 .block-1 .card.deg-2:hover {
          background-color: #7889A1; }
        body .section-3 .block-0 .block-1 .card.deg-3 {
          background-color: #626262;
          transition: all 0.7s ease-in-out; }
        body .section-3 .block-0 .block-1 .card.deg-3:hover {
          background-color: #6B7A8F; }
    body .section-3 .skills {
      width: 70%;
      min-width: 375px;
      margin: auto; }
      body .section-3 .skills .skills-content {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -moz-justify-content: space-around; }
        body .section-3 .skills .skills-content .skills-box {
          width: 350px;
          padding: 50px; }
          body .section-3 .skills .skills-content .skills-box h2 {
            font-family: "Tahoma Bold", serif;
            font-size: 20px;
            font-weight: normal;
            margin-bottom: 5px;
            margin-top: 5px;
            color: #323232; }
          body .section-3 .skills .skills-content .skills-box h3 {
            font-size: 20px;
            margin-bottom: 10px;
            font-weight: normal;
            font-family: "Libre Baskerville", serif; }
          body .section-3 .skills .skills-content .skills-box ul {
            margin-left: 25px; }
            body .section-3 .skills .skills-content .skills-box ul li {
              padding: 5px;
              font-size: 15px;
              color: rgba(26, 26, 26, 0.75); }
  body .section-3:after {
    content: " ";
    background: #CCCCCC no-repeat center;
    background-size: 100% auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 2px 2px #e2e2e2;
    z-index: -1; }
  @media screen and (max-width: 1280px) {
    body .section-3 .skills {
      width: 100%; }
      body .section-3 .skills .skills-content .skills-box {
        padding: 30px; } }
  @media screen and (max-width: 800px) {
    body .section-3 .skills .skills-content {
      -webkit-flex-flow: column;
      flex-flow: column;
      -moz-flex-flow: column; }
      body .section-3 .skills .skills-content .skills-box {
        padding: 15px; }
        body .section-3 .skills .skills-content .skills-box h2 {
          font-size: 22px; }
        body .section-3 .skills .skills-content .skills-box h3 {
          font-size: 15px;
          margin-bottom: 0; }
        body .section-3 .skills .skills-content .skills-box ul li {
          font-size: 13px; } }
  body .section-4 {
    width: 100vw;
    padding: 50px;
    background-color: #f5f5f5; }
    body .section-4 .para {
      width: 60%;
      margin: auto;
      padding-bottom: 20px;
      line-height: 2;
      font-size: 20px; }
      body .section-4 .para p {
        text-align: center;
        font-style: italic; }
  body .section-4:after {
    content: " ";
    background: #e2e2e2 no-repeat center;
    background-size: 100% auto;
    box-shadow: 2px 2px #e2e2e2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1; }
  @media screen and (max-width: 1280px) {
    body .section-4 {
      padding: 15px; }
      body .section-4 .para {
        width: 100%; }
        body .section-4 .para p {
          padding: 10px; } }
  @media screen and (max-width: 800px) {
    body .section-4 {
      padding: 10px; }
      body .section-4 .para {
        font-size: 18px; } }
  @media screen and (max-width: 550px) {
    body .section-4 {
      padding: 10px 0; }
      body .section-4 .para {
        font-size: 16px; } }
  body footer {
    width: 100vw;
    padding: 30px;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    display: flex; }
    body footer .content {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -moz-justify-content: space-around;
      -webkit-flex-flow: column;
      flex-flow: column;
      -moz-flex-flow: column;
      -webkit-align-items: center;
      align-items: center;
      -moz-align-items: center;
      width: 750px;
      min-width: 300px; }
      body footer .content nav a {
        margin: 15px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        transition: all 300ms ease-in-out; }
      body footer .content nav a:hover {
        color: #505050; }
      body footer .content .links {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -moz-justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
        -moz-align-items: center;
        width: 200px;
        padding: 20px; }
        body footer .content .links a {
          -webkit-justify-content: center;
          -webkit-align-items: center;
          display: -webkit-flex;
          justify-content: center;
          align-items: center;
          display: flex;
          width: 38px;
          height: 38px;
          font-size: 1.4em;
          color: #323232;
          text-decoration: none;
          transition: all 500ms ease-in-out; }
        body footer .content .links a:hover {
          color: #606060;
          font-size: 1.6em; }
      body footer .content .copyright {
        font-size: 10px;
        font-family: "Bitter", serif; }
  @media screen and (max-width: 800px) {
    body footer .content nav {
      text-align: center; } }
  @media screen and (max-width: 550px) {
    body footer .content nav a {
      margin: 10px; } }

/*# sourceMappingURL=default.css.map */
