<div class="user-details">
  <h1>Diplômes</h1>
  <p>
    Baccalauréat S-SI | 2015 (Mention A.B) -
    <a href="https://institut-lemonnier.fr/" target="_blank"
      >Institut Lemonnier</a
    >
    | Caen
  </p>
  <p>
    Permis B | 2015 -
    <a href="https://www.cesr-cityzen.fr/" target="_blank">CESR City Zen</a> |
    Ifs (Caen)
  </p>
  <p>
    TOEIC | 2018 (840/990) -
    <a href="https://www.enib.fr" target="_blank">ENIB</a> | Brest
  </p>
  <p>
    Diplômes d'ingénieur | Prévu pour 2020 -
    <a href="https://www.enib.fr" target="_blank">ENIB</a> | Brest
  </p>
  <p>
    Master Administration des Entreprises | Prévu pour 2020 -
    <a href="https://www.univ-brest.fr/iae/" target="_blank">IAE</a> | Brest
  </p>
</div>
