<div class="user-details">
  <h1>Expériences</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="ibc-dialog" src="{{ "/assets/img/ibc-dialog.jpg" | prepend:
    site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Technicien - IBC Dialog | 2016 & 2017</h3>
    <ul>
      <li>Préparation de PC et serveurs</li>
      <li>Manutention et installation d'ordinnateurs</li>
      <li>Installation d'appareils de suivi médical</li>
      <li>Mise en place de parc Wifi (28 sites) - Cisco Meraki</li>
    </ul>
    <p>
      Depuis 1992, le groupe IBC Dialog est aux côtés des entreprises
      bas-normandes pour leur apporter un service de proximité dans la gestion
      de leur parc informatique et de leurs systèmes d’impression
    </p>
    <a class="project-link" target="_blank" href="https://www.ibc-dialog.fr/"
      >IBC Dialog</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="cfai" src="{{ "/assets/img/cfai.jpg" | prepend: site.baseurl }}"
    />
  </div>
  <div class="contents-right">
    <h3>Stage ouvrier - CFAI Caen | Janvier 2017</h3>
    <ul>
      <li>Mise en place d'un plan de reprise anticipée (P.R.A)</li>
      <li>Interventions techniques au sein de l'établissement</li>
      <li>Manutention</li>
    </ul>
    <p>
      Le Pôle formation UIMM regroupe désormais sous la même enseigne tous les
      acteurs du réseau emploi-formation de l'UIMM Normandie - CFAI, AFPI -
      autour d'un objectif commun: « Permettre aux entreprises industrielles de
      disposer des compétences dont elles ont besoin afin de mettre en œuvre
      leur stratégie et améliorer leur compétitivité ».
    </p>
    <a
      class="project-link"
      target="_blank"
      href="http://www.formation-industries-bn.fr/"
      >CFAI / Itibanor</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="neuva" src="{{ "/assets/img/neuva.png" | prepend: site.baseurl }}"
    />
  </div>
  <div class="contents">
    <h3>Stage Technicien - NEUVA Caen | Juin à Août 2018</h3>
    <ul>
      <li>Développement sur un système de gestion de voiturettes de golfs</li>
      <li>
        Développement de module pour un générateur de site (Symfony 3 / Sonat
        admin)
      </li>
      <li>
        Développement sur le suivi de prélèvements médicaux (Ionic 3 / Symfony
        3)
      </li>
    </ul>
    <p>
      Neuva est une ESN (SSII) spécialisée en création d'applications numériques
      et solutions IoT. Neuva est la fille de Pragmatic créée en 2004. Dès sa
      création en 2016, Neuva a absorbé toute l'activité de développement. En
      réalité, la jeune société a déjà 15 ans d'expérience à son actif !
    </p>
    <a class="project-link" target="_blank" href="https://neuva.fr/">Neuva</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="genesys" src="{{ "/assets/img/genesys.jpg" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>Assistant ingénieur - GENESYS Brest | Février à Juillet 2019</h3>
    <ul>
      <li>
        Mise en place d'une interface pour consulter l'ensemble des résultats
        issues des différents outils d'intégration continue liées aux services
        de l'entreprise
      </li>
    </ul>

    <p>
      Genesys® est un leader mondial de plus de 25 milliards d'expériences
      clients chaque année. Notre succès provient de notre capacité à connecter
      vos collaborateurs avec vos clients sur tous types de canaux.
    </p>
    <a class="project-link" target="_blank" href="https://www.genesys.com/fr-fr"
      >Genesys</a
    >
  </div>
</div>
