<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:o5mariet@enib.fr"
        ><i class="icon fa fa-envelope"></i
      ></a>
      <a
        aria-label="Linked In"
        target="_blank"
        href="https://www.linkedin.com/in/oscarmarietaillefer/"
        ><i class="icon fa fa-linkedin" aria-hidden="true"></i
      ></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/ryshu"
        ><i class="icon fa fa-github" aria-hidden="true"></i
      ></a>
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>A propos</a>
      <a class="link" href="#tech" data-scroll>Technologies</a>
      <a class="link" href="#experiences" data-scroll>Expériences</a>
      <a class="link" href="#degrees" data-scroll>Diplômes</a>
      <a class="link" href="#projects" data-scroll>Projets</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll
    ><i class="icon fa fa-chevron-down" aria-hidden="true"></i
  ></a>
</div>
