<div class="user-details">
  <h1>Projets personnels</h1>
</div>
<div class="user-projects">
  <div class="contents-full">
    <h3>JSON Path Picker</h3>
    <ul>
      <li>HTML 5</li>
      <li>HTML 3</li>
      <li>Javascript</li>
      <li>VueJS (Vue JSON Picker)</li>
    </ul>
    <p>
      Le sélecteur de chemin JSON est un outil en ligne qui permet de
      transformer des chaînes JSON en représentations HTML. La principale
      différence par rapport aux autres visualiseurs JSON est que le sélecteur
      de chemin JSON permet de trouver un chemin vers la clé en cliquant sur une
      icône proche du nom de la clé. Cela simplifie le processus de création de
      JSONPaths en fonction des réponses simulées.
    </p>
    <a
      class="project-link"
      href="https://github.com/ryshu/jsonpath-picker"
      target="_blank"
      >Github</a
    >
    <a
      class="project-link"
      href="https://ryshu.github.io/jsonpath-picker/"
      target="_blank"
      >Démo</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="contents-full">
    <h3>ENIB Internships</h3>
    <ul>
      <li>NodeJS</li>
      <li>Sequelize</li>
      <li>VueJS</li>
      <li>Element UI</li>
      <li>Travis</li>
      <li>Sonar QUBE</li>
    </ul>
    <p>
      Projet informatique open-source ayant pour but de mettre à disposition des
      écoles supérieurs une interface pour gérer l'ensemble des étudiants en
      stage. Projet débuté dans le cadre d'un cour à l'ENIB sur le développement
      agile
    </p>
    <a
      class="project-link"
      href="https://github.com/ryshu/enib-internships"
      target="_blank"
      >Github</a
    >
    <a
      class="project-link"
      href="https://ryshu.github.io/enib-internships/"
      target="_blank"
      >Site web</a
    >
  </div>
</div>
