<div class="user">
  <div class="tech">
    <h2>Langages</h2>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-redis-plain-wordmark colored"></i>
    <i class="devicon-go-plain colored"></i>
    <i class="devicon-c-plain colored"></i>
    <i class="devicon-cplusplus-plain colored"></i>
    <p>
      Chaque projet représente un besoin spécifique, et à ce besoin est associé
      son language.
    </p>
  </div>
  <div class="tech">
    <h2>Frameworks</h2>
    <i class="devicon-typescript-plain colored"></i>
    <i class="devicon-vuejs-plain colored"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-express-original-wordmark colored"></i>
    <i class="devicon-jasmine-plain-wordmark colored"></i>
    <i class="devicon-mocha-plain colored"></i>
    <i class="devicon-sequelize-plain colored"></i>
    <i class="devicon-webpack-plain colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>
      Un framework est un ensemble d'outils spécifiques à un langage, permettant
      un développement plus rapide dans celui-ci
    </p>
  </div>
  <div class="tech">
    <h2>Outils</h2>
    <i class="devicon-apache-line-wordmark colored"></i>
    <i class="devicon-chrome-plain-wordmark"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-github-plain-wordmark colored"></i>
    <i class="devicon-gitlab-plain-wordmark colored"></i>
    <i class="devicon-travis-plain-wordmark colored"></i>
    <i class="devicon-ubuntu-plain-wordmark colored"></i>
    <i class="devicon-amazonwebservices-plain-wordmark"></i>
    <p>
      Vous trouverez ici une partie des outils que j'utilise au quotidien pour
      réaliser mes projets
    </p>
  </div>
</div>
