{% extends 'layout.html.twig' %}

{% block meta %}
	<meta name="keyword" content="cv,oscar,marie,taillefer,marie--taillefer, Curriculum, Vitae">
	<meta name="description" content="On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur." />
	<meta name="robots" content="all, index, follow" />

	<link rel="canonical" href="http://www.oscarmarietaillefer.com/" />
	
	<meta property="og:title" content="Oscar MARIE--TAILLEFER | Curriculum Vitae" />
	<meta property="og:type" contenu="siteweb" />
	<meta property="og:image" contenu="https://zupimages.net/up/18/06/39i7.jpg" />
	<meta property="og:description" content="">
	<meta property="og:url" content="www.oscarmarietaillefer.com" />

	<meta name="twitter:title" content="Oscar MARIE--TAILLEFER | Curriculum Vitae">
	<meta property="twitter:image" contenu="https://zupimages.net/up/18/06/39i7.jpg" />
	<meta name="twitter:description" content="Cela m'a permis d'acquérir des compétences, notamment en développement informatique, pour devenir une personne motivée et à même de vous aider à mener à terme vos projets.">
	<meta name="twitter:site" content="http://www.oscarmarietaillefer.com">
{% endblock %}

{% block headtitle %}
	Oscar Marie--Taillefer | Curriculum Vitae
{% endblock %}

{% block title %}
	<a title="Télécharger le CV" href="doc/cv_oscar_marie--taillefer.pdf" download="CV Oscar MARIE--TAILLEFER.pdf">Télécharger le CV</a>
	<h1>Oscar Marie--Taillefer</h1>
	<img src="img/profil.jpg" alt="Photo Oscar" />
{% endblock %}

{% block prescript %}
	<script type="text/javascript">
		if (screen.width <= 699) {
			document.location = "mobile";
		}
	</script>
{% endblock %}

{% block content %}
	<section class="section-1">
		<div class="text box-heavy">
			<h2>Qui je suis en quelques mots:</h2>
			<div class="para">
				<p>On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur.</p>
				<p>Cela m'a permis d'acquérir des compétences, notamment en développement informatique, pour devenir une personne motivée et à même de vous aider à mener à terme vos projets.</p>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h2><span>Mes expériences</span></h2>
		<div class="cards">
			<div class="card card-1" itemprop="url" onclick="window.open('http://www.poullain-sepi-electricite.fr/')">
				<div class="content">
					<div class="text">
						<div class="none-hover">
							<p>NEUVA</p>
							Stage développeur
						</div>
						<div class="hover">
							<h3>Juin-Août 2018</h3>
							<div class="para">
								<ul>
									<li>Développement sur un système de gestions de voiturettes de golfs avec communications électronique.</li>
									<li>Développement de modules pour un générateur de site web (Symfony 3 / Sonata Admin).</li>
									<li>Développement sur un système de suivi de prélèvements  médicaux (Ionic 3 / Symfony 3).</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card card-2" itemprop="url" onclick="window.open('https://www.ibc-dialog.fr/')">
				<div class="content">
					<div class="text">
						<div class="none-hover">
							<p>IBC Dialog</p>
							Technicien
						</div>
						<div class="hover">
							<h3>Juin-Juillet 2016</h3>
							<div class="para">
								<ul>
									<li>Préparation de PC et de serveurs.</li>
									<li>Manutention et installation d'ordinateurs chez les clients.</li>
									<li>Installation d’appareils de suivi médical.</li>
									<li>Mise en place d’une machine virtuelle pour l’utilisation du logiciel « TellMeMore ».</li>
								</ul>
							</div>
							<h3>Juin-Juillet 2017</h3>
							<div class="para">
								<ul>
									<li>Mise en place d'un parc Wifi pour l'APEI Centre Manche (22 sites).</li>
									<li>Maintenance Informatique.</li>
									<li>Installation d'appareils de suivi médical.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card card-3" itemprop="url" onclick="window.open('http://www.formation-industries-bn.fr/')">
				<div class="content">
					<div class="text">
						<div class="none-hover">
							<p>CFAI Caen</p>
							Rédaction d'un P.R.A.
						</div>
						<div class="hover">
							<h3>Janvier 2017</h3>
							<p>Dans le cadre d'un stage encadré par Mr LOUET, réalisation:</p>
							<div class="para">
								<ul>
									<li>D'un Plan de Reprise Anticipée</li>
									<li>D'interventions techniques</li>
									<li>De manutention</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-3">
		<div class="para">
			<h2>Mes diplômes</h2>
			<p>Bac S Option Sciences de l’Ingénieur - Mention assez-bien. 2015</p>
			<p>4ème année d’étude à l’Ecole Nationale d’Ingénieur de Brest</p>
			<p>1ère année en double diplôme à l'IAE de Brest - MAE</p>
		</div>
	</section>
{% endblock %}