<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	{% block meta %}{% endblock %}
	
	<title>{% block headtitle %}Oscar Marie--Taillefer | Curriculum Vitae{% endblock %}</title>
	
	{% block prescript " " %}

	<link rel="stylesheet" href="css/default.css" />
	{% block addcss " " %}

</head>
<body>
	<header class="main" id="nav">
		<div class="content">
			<nav class="topnav">
				<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="icon()">&#9776;</a>
				<a title="Lien vers l'accueil" href="home">Accueil</a>
				<a title="Lien vers les compétences" href="skills">Compétences</a>
				<a title="Lien vers le Portfolio" href="portfolio">Portfolio</a>
				<a title="Lien vers mes hobbies" href="about">à propos</a>
			</nav>

			<script type="text/javascript">
			
				function icon() {
					var x = document.getElementById("nav");
					if (x.className === "main") {
						x.className += " responsive";
					} else {
						x.className = "main";
					}
				}
			</script>

			<div class="title">
				{% block title %}
					<a title="Télécharger le CV" href="doc/cv_oscar_marie--taillefer.pdf" download="CV Oscar MARIE--TAILLEFER.pdf">Télécharger le CV</a>
					<h1>Oscar Marie--Taillefer | Curriculum Vitae</h1>
					<img src="" alt="Photo Oscar" id="profil-pic" />
				{% endblock %}
			</div>
		</div>
	</header>

	{% block content %}
		Content
	{% endblock %}

	<footer>
		<div class="content">
			<nav>
				<a title="Lien vers l'accueil" href="home">Accueil</a>
				<a title="Lien vers les compétences" href="skills">Compétences</a>
				<a title="Lien vers le Portfolio" href="portfolio">Portfolio</a>
				<a title="Lien vers mes hobbies" href="about">à propos</a>
				<a title="Télécharger le CV" href="doc/cv_oscar_marie--taillefer.pdf" download="CV Oscar MARIE--TAILLEFER">Télécharger le CV</a>
			</nav>
			<div class="links">
				<a itemprop="url" title="Profil github" href="https://github.com/ryshu" target="_blank"><i class="fab fa-github"></i></a>
				<a itemprop="url" title="Profil linkedIn" href="https://www.linkedin.com/in/oscar-marie-taillefer-8b046912a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
				<a itemprop="url" title="Profil Bëhance" href="https://www.behance.net/o5mariet4d46"><i class="fab fa-behance-square" target="_blank"></i></a>
				<a title="Me contacter" href="mailto:o5mariet@enib.fr"><i class="fas fa-envelope"></i></a>
			</div>
			<div class="copyright">&copy;Copyright 2018 Oscar MARIE--TAILLEFER. All rights reserved.</div>
		</div>
	</footer>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
</html>