<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keyword" content="cv,oscar,marie,taillefer,marie--taillefer, Curriculum, Vitae">
	<meta name="description" content="Curriculum Vitae par Oscar MARIE--TAILLEFER." />
	<meta name="robots" content="noindex, nofollow">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Oscar MARIE--TAILLEFER | Curriculum Vitae</title>
</head>
<body>
	<header class="main" id="nav">
		<div class="content">
			<nav class="topnav">
				<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="icon()">&#9776;</a>
				<a title="Lien vers l'accueil" href="home">Accueil</a>
				<a title="Lien vers les compétences" href="skills">Compétences</a>
				<a title="Lien vers le Portfolio" href="portfolio">Portfolio</a>
				<a title="Lien vers mes hobbies" href="about">à propos</a>
			</nav>
			<script type="text/javascript">
			
				function icon() {
					var x = document.getElementById("nav");
					if (x.className === "main") {
						x.className += " responsive";
					} else {
						x.className = "main";
					}
				}
			</script>

			<div class="title">
				<a href="doc/cv_oscar_marie--taillefer.pdf" title="Télécharger le CV" download="CV Oscar MARIE--TAILLEFER.pdf">Télécharger le CV</a>
				<h1>Oscar Marie--Taillefer</h1>
				<img src="img/profil.jpg" alt="" />
			</div>
		</div>
	</header>

	<section class="section-1">
		<div class="profil">
			<h2>Qui je suis en quelques mots:</h2>
			<div class="para">
				<p>On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur.</p>
				<p>Cela m'a permis d'acquérir des compétences, notamment en développement informatique, pour devenir une personne motivée et à même de vous aider à mener à terme vos projets.</p>
			</div>
		</div>
	</section>

	<section class="section-2">
		<h2><span>Mes expériences</span></h2>
		<div class="cards">
			<div class="card card-1" onclick="window.open('https://www.ibc-dialog.fr/')">
				<div class="content">
					<div class="text">
						<div class="hover">
							<div class="title">
								<p>IBC Dialog</p>
								Technicien
							</div>

							<h2>Juin-Juillet 2016</h2>
							<div class="para">
								<ul>
									<li>Préparation de PC et de serveurs.</li>
									<li>Manutention et installation d'ordinateurs chez les clients.</li>
								</ul>
							</div>
							<h2>Juin-Juillet 2017</h2>
							<div class="para">
								<ul>
									<li>Mise en place d'un parc Wifi pour l'APEI Centre Manche (22 sites).</li>
									<li>Maintenance Informatique.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card card-2" onclick="window.open('http://www.formation-industries-bn.fr/')">
				<div class="content">
					<div class="text">
						<div class="hover">
							<div class="title">
								<p>CFAI Caen</p>
								Rédaction d'un P.R.A.
							</div>
							<h2>Janvier 2017</h2>
							<p>Dans le cadre d'un stage encadré par Mr LOUET, réalisation:</p>
							<div class="para">
								<ul>
									<li>D'un Plan de Reprise Anticipée</li>
									<li>D'interventions techniques</li>
									<li>De manutention</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card card-3" onclick="window.open('http://www.poullain-sepi-electricite.fr/')">
				<div class="content">
					<div class="text">
						<div class="hover">
						<div class="title">
								<p>SUPPLAY</p>
								Mission d'intérim pour la SCOP Poullain SEPI
							</div>
							<h2>Juillet 2013 et Juillet 2014</h2>
							<div class="para">
								<ul>
									<li>Tri des matériaux et préparation pour les chantiers</li>
									<li>Saisie de bons de livraisons / Aide à la gestion de stock</li>
									<li>Tirage de câbles sur les chantiers</li>
									<li>Manutention</li>
									<li>Aide manoeuvre</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-3">
		<div class="para">
			<h2>Mes diplômes</h2>
			<p>Bac S Option Sciences de l’Ingénieur - Mention assez-bien. 2015</p>
			<p>3ème année d’étude à l’Ecole Nationale d’Ingénieur de Brest</p>
		</div>
	</section>

	<footer>
		<div class="content">
			<nav>
				<a title="Lien vers l'accueil" href="home">Accueil</a>
				<a title="Lien vers les compétences" href="skills">Compétences</a>
				<a title="Lien vers le Portfolio" href="portfolio">Portfolio</a>
				<a title="Lien vers mes hobbies" href="about">à propos</a>
				<a title="Télécharger le CV" href="doc/cv_oscar_marie--taillefer.pdf" download="CV Oscar MARIE--TAILLEFER">Télécharger le CV</a>
			</nav>
			<div class="links">
				<a itemprop="url" title="Profil github" href="https://github.com/ryshu" target="_blank"><i class="fab fa-github"></i></a>
				<a title="Profil linkedIn" href="https://www.linkedin.com/in/oscar-marie-taillefer-8b046912a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
				<a title="Profil Bëhance" href="https://www.behance.net/o5mariet4d46"><i class="fab fa-behance-square" target="_blank"></i></a>
				<a title="Me contacter" href="mailto:o5mariet@enib.fr"><i class="fas fa-envelope"></i></a>
			</div>
			<div class="copyright">&copy;Copyright 2018 Oscar MARIE--TAILLEFER. All rights reserved.</div>
		</div>
	</footer>

	<link rel="stylesheet" href="css/default.mobile.css" />

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"> 
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
</html>