{% extends 'layout.html.twig' %}

{% block meta %}
	<meta name="keyword" content="cv,oscar,marie,taillefer,marie--taillefer, Curriculum, Vitae">
	<meta name="description" content="On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur." />
	<meta name="robots" content="all, index, follow" />

	<link rel="canonical" href="http://www.oscarmarietaillefer.com/resume" />
	
	<meta property="og:title" content="Oscar MARIE--TAILLEFER | Curriculum Vitae" />
	<meta property="og:type" contenu="website" />
	<meta property="og:image" contenu="https://zupimages.net/up/18/06/39i7.jpg" />
	<meta property="og:description" content="On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur.">
	<meta property="og:url" content="www.oscarmarietaillefer.com" />

	<meta name="twitter:title" content="Oscar MARIE--TAILLEFER | Curriculum Vitae">
	<meta property="twitter:image" contenu="https://zupimages.net/up/18/06/39i7.jpg" />
	<meta name="twitter:description" content="On me définit comme curieux, et j'avoue aimer découvrir et comprendre le monde qui m'entoure. C'est d’ailleurs ce goût pour les découvertes qui m'a poussé vers la programmation et les études d'ingénieur.">
	<meta name="twitter:site" content="http://www.oscarmarietaillefer.com">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block headtitle %}
	Oscar Marie--Taillefer | Compétences
{% endblock %}

{% block title %}
	<a title="Télécharger le CV" href="doc/cv_oscar_marie--taillefer.pdf" download="CV Oscar MARIE--TAILLEFER.pdf">Télécharger le CV</a>
	<h1>Mes compétences</h1>
{% endblock %}

{% block content %}
	<section class="section-skills">
		<div class="skills box-medium" id="skills">
			<div class="skills-content">
				<div class="skills-box">
					<h3>Développement Web</h3>
				</div>
				<div class="skills-box">
					<h3>Niveau avancé</h3>
					<ul>
						<li>Sass / Scss / Less</li>
						<li>HTML5 / CSS3</li>
						<li>JavaScript / jQuery</li>
						<li>NodeJs</li>
						<li>AngularJS</li>
						<li>PHP / CakePHP / Laravel / Symfony</li>
						<li>Photoshop / Gimp 2</li>
						<li>Version Control ( GIT )</li>
						<li>Bootstrap / Materialize</li>
						<li>Responsive Layout and Design</li>
						<li>Cross-Browser Compatibility</li>
						<li>SEO</li>
						<li>Mobile First Thinking</li>
						<li>Python / Django</li>
						<li>MySQL</li>
						<li>Continuous integration</li>
						<li>Automated dependency management</li>
						<li>API / API Documentation</li>
						<li>CURL</li>
					</ul>
				</div>
				<div class="skills-box">
					<h3>Initié</h3>
					<ul>
						<li>InDesign / Illustrator</li>
						<li>Agile Methodology</li>
						<li>Grunt</li>
						<li>RequireJS</li>
						<li>AJAX</li>
						<li>React.js</li>
						<li>Backbone.js</li>
						<li>MongoDB</li>
						<li>Ionic</li>
						<li>Docker</li>
					</ul>
				</div>
			</div>
			<div class="skills-content">
				<div class="skills-box">
					<h3>Développement logiciel</h3>
				</div>
				<div class="skills-box">
					<h3>Niveau avancé</h3>
					<ul>
						<li>C / C++ / C#</li>
						<li>Python</li>
						<li>SQL</li>
						<li>Développement orienté objet</li>
						<li>PHP</li>
						<li>Java</li>
						<li>Arduino</li>
					</ul>
				</div>
				<div class="skills-box">
					<h3>Initié</h3>
					<ul>
						<li>Qt</li>
						<li>ARM</li>
						<li>Ruby</li>
						<li>Visual Studio 2017</li>
						<li>Raspberry Pi</li>
					</ul>
				</div>
			</div>
			<div class="skills-content">
				<div class="skills-box">
					<h3>Autres compétences</h3>
				</div>
				<div class="skills-box">
					<h3>Langues</h3>
					<ul>
						<li>Français courant</li>
						<li>Anglais B2</li>
						<li>Espagnol A2</li>
					</ul>
				</div>
				<div class="skills-box">
					<h3>Systèmes d'exploitation</h3>
					<ul>
						<li>Microsoft</li>
						<li>Linux (Arch Linux, Debian, Ubuntu, Raspbian)</li>
						<li>Mac OS X</li>
					</ul>
				</div>
			</div>

		</div>
	</section>
{% endblock %}

{% block addcss %}
	<link rel="stylesheet" href="css/skills.css" />
{% endblock %}